.errorPopup {
  background: #fff6ff !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
}

.errorPopup::before {
  background: #fff6ff !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
}
